html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: bisque;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 12px;
}

.square{
    background-color: beige;
    flex: 1;
    outline: 1px solid black;
}

.regen-btn{
    margin-top: 24px;
}


.colored{
    background-color: black;
}